@import url(../style.css);

body {
    background: var(--faded);
    padding:0
}

#collect {
    height:300px;
    overflow:auto;
    text-align: center;
}

a::before {
    display:none
}

a {
    display:inline;
    vertical-align: baseline;
}