---
title: 2023
---
<section>
    <div class="container bg-faded">
        <h2>polished works</h2>
        <div class="gallery">
            {% for piece in art.2023.polish %}
            {% include 'partials/gallery-grid.html' %}
            {% endfor %}
        </div>
    </div>
</section>
<section>
    <div class="container bg-faded">
        <h2>sketches & doodles</h2>
        <div class="gallery">
            {% for piece in art.2023.sketch %}
            {% include 'partials/gallery-grid.html' %}
            {% endfor %}
        </div>
    </div>
</section>