@font-face {
    font-family: 'JetBrains Mono';
    src: url('/assets/fonts/JetBrainsMono-Regular.woff2') format('woff2'),
        url('/assets/fonts/JetBrainsMono-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('/assets/fonts/Poppins-Medium.woff2') format('woff2'),
        url('/assets/fonts/Poppins-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('/assets/fonts/Poppins-Regular.woff2') format('woff2'),
        url('/assets/fonts/Poppins-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('/assets/fonts/Poppins-SemiBold.woff2') format('woff2'),
        url('/assets/fonts/Poppins-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Press Start 2P';
    src: url('/assets/fonts/PressStart2P-Regular.woff2') format('woff2'),
        url('/assets/fonts/PressStart2P-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --width: 1250px;
    --padding: 0.25em;

    --pink: #f9cac7;
    --blue: #91a8d0;
    --bg: #1c1624;
    --faded: #38323f;
    --lighter: #433d4b;
    --border: #67616f;
    --text: #e0e0e0;

    --pinkple: #e6cbd6;
    --blurple: #aaa5ca;
    --gradient-h: linear-gradient(90deg, var(--pink) 0%, var(--blue) 100%);
    --gradient-v: linear-gradient(180deg, var(--pink) 0%, var(--blue) 100%);
}

* {
    cursor: url(/assets/cursor.png), auto !important;
    box-sizing: border-box;
}

body {
    background-color: var(--bg);
    background-image: url(/assets/bg.png);
    background-attachment: fixed;
    color: var(--text);
    font-family: 'Poppins', sans-serif;
    font-size: 15px;

    padding: 0;
    margin: 0;
}

.container {
    padding: 0.75em
}

.bg-faded {
    background-color: var(--faded)
}

.bg-lighter {
    background-color: var(--lighter)
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Jetbrains Mono', monospace
}

summary h2,
summary h3 {
    margin-bottom: 0
}

main h1 {
    font-size: 1.75em
}

br.clear {
    clear: both;
}

.h-100 {
    height: 100%
}

.text-center {
    text-align: center
}

.text-right {
    text-align: right
}

.text-nested {
    margin-left: 1em
}

.block-center {
    display: block;
    margin: auto
}

.scroll {
    overflow: auto
}

img {
    max-width: 100%
}

figure {
    margin: 1em 0
}

hr {
    border: 0.5px solid;
    border-image: var(--gradient-h) 1;
    opacity: 0.5
}

abbr {
    text-decoration: none
}

.text-mono {
    font-family: 'Jetbrains Mono', monospace;
}

/* links */

a {

    transition-duration: 0.5s;
    text-decoration: none;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;

    font-weight: 500;


    display: inline-block;
    vertical-align: bottom;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
    background: var(--gradient-h);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

}

a::before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: var(--gradient-h);
    height: 1px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}


a:hover {
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}


a:hover:before,
a:focus:before,
a:active:before {
    right: 0;
}

a.no-line::before {
    display: none
}

/* links end */

/*lists*/

ul {
    padding-left: 1.25em;
    list-style-type: '* ';
}

li::marker {
    font-family: 'jetbrains mono';
    color: var(--pinkple);
    font-weight: bold
}

ul:last-child {
    margin-bottom: 0
}

/*lists end*/

/* blockquotes */

blockquote {
    margin: 1em 0;
    display: flex;
    padding-left: 1em;
    border-left: 2px solid var(--border)
}

/* blockquotes end */

/* code */

code {
    font-family: 'Jetbrains Mono', monospace;
    background-color: var(--lighter);
}

/* code end */

/* selection */
::-moz-selection {
    background: var(--blurple);
    color: #fff;
}

::selection {
    background: var(--blurple);
    color: #fff;
}

a::selection {
    -webkit-text-fill-color: white
}

a::-moz-selection {
    -webkit-text-fill-color: white
}

/* selection end*/

/*scrollbar*/

/* width */
::-webkit-scrollbar {
    width: 0.75em;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--faded);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--gradient-v);
}

/* scrollbar end */

/* displays */
.d-flex {
    display: flex;
    flex-wrap: wrap
}

.d-block {
    display: block
}

.d-inline {
    display: inline
}

.d-inline-block {
    display: inline-block
}

/*cols*/

.flex-1 {
    flex: 1
}

.gutters {
    gap: calc(var(--padding)*2)
}

/* MOBILE */

@media only screen and (max-width: 992px) {
    .col-lg {
        width: 100% !important
    }
}

@media only screen and (max-width: 768px) {
    .col-md {
        width: 100% !important;
        display: block
    }

    .hide-md {
        display: none
    }

}

@media only screen and (max-width:480px) {
    .hide-sm {
        display: none !important
    }

    .col-sm {
        width: 100% !important
    }
}