@import url('./base.css');

/* CSS is how you can add style to your website, such as colors, fonts, and positioning of your
   HTML content. To learn how to do something, just try searching Google for questions like
   "how to change link color." */

body {
  font-size: 18px;
  font-family: 'Jetbrains Mono', monospace;
}

p {
  line-height: 1.6em;
  /*I find the default HTML line-height tends to be a bit claustrophobic for main text*/
}

#content li {
  line-height: 1.6em;
  /*I find the default HTML line-height tends to be a bit claustrophobic for main text*/
}

/*This makes images shrink when their container becomes too small (responsive design)*/
img {
  max-width: 100%;
  height: auto;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.right {
  float: right;
  margin-left: 1em;
}

.left {
  float: left;
  margin-right: 1em;
}

.center {
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

@media only screen and (min-width: 600px) {
  .small {
    max-width: 60%;
    height: auto;
  }
}

.caption {
  margin-top: 0;
  font-size: 0.9em;
  font-style: italic;
}

header li a::before {
  background: none;
  -webkit-transition: none;
  transition:none
}

/*main is the rectangle that has contains everything but the background!*/
main {
  margin: 3em auto;
  width: 90%;
  max-width: 700px;
  color: var(--text);
  border-image: var(--gradient-h) 1;
  border-style: solid;
  border-width: 1px;
  background-color: var(--faded)
}

#content {
  padding: 10px 5% 20px 5%;
}


/*HEADER STYLE*/
header {
  background: var(--gradient-h);
  padding: 0 5%;
}

header ul {
  list-style-type: none;
  padding: 0.5em 0;
  margin: 0;
}

header li {
  font-size: 1.2em;
  display: inline-block;
  margin-right: 1em;
  margin-bottom: 0.2em;
  margin-top: 0.2em;
}

header li a {
  color: var(--faded);
  text-decoration: none;
  background:none;
  background-clip: inherit;
  -webkit-background-clip:inherit;
  -webkit-text-fill-color: inherit;
  font-weight:bold
}

header li a:hover {
  text-decoration: underline;
}

/*POST LIST STYLE*/
.blog-list {
  padding: 0;
  list-style-type: none;
}

.blog-list a {
  font-size: 1.2em;
}

.blog-list li {
  margin-bottom:0.75em
}

.moreposts {
  font-size: 0.8em;
  margin-top: 0.2em;
}

/*NEXT AND PREVIOUS LINKS STYLE*/
#nextprev {
  text-align: center;
  margin-top: 1.4em;
}

/*DISQUS STYLE*/
#disqus_thread {
  margin-top: 1.6em;
}

/*FOOTER STYLE*/
footer {
  font-size: 0.75em;
  padding: 0 5% 10px 5%;
}

.blog-footer {
  text-align: center;
  margin-top:1.5em
}

.blog-footer span:not(span:last-child)::after {
  content: " | "
}

/* KUDOS */
.tinylytics_kudos {
  font-size: inherit;
  font-family: inherit;
  color:inherit;
  background-color: transparent;
  border:0;
  background-color: var(--lighter);
}