#wrapper {
    max-width:700px;
    margin:3em auto
}

.book-cover {
    float:left;
    width:165px;
    margin-right:0.75em
}

.book-title cite {
    font-weight: bolder;
}

.book-title {
    margin-top:0
}

.review p:first-of-type {
    margin-top:0
}

.book-section:not(.book-section:last-child) {
    margin-bottom:0.75em
}

summary h3 {
    display: inline-block;
}