@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
/*@import url('./reset.css');*/
@import url('./base.css');

/* LAYOUT */
#wrapper {
    max-width: var(--width);
    margin: 0.5em auto 5em auto;
    height: auto;
}

header {
    padding: var(--padding)
}

header div {
    background-color: var(--faded);
    border-width: 5px;
    border-style: solid;
    border-image: var(--gradient-h) 1;
    text-align: center;
    font-family: "Press Start 2P";
    font-size: 2.5em;
    padding: 1em
}

header div::after {
    content: 'moondvsted'
}

header img {
    display: block
}

header#head.no-img img {
    display: none
}

#content {
    display: flex
}

aside {
    width: 22.5%;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    position: sticky;
    top: var(--padding);
}

main {
    flex: 1
}

section {
    padding: var(--padding)
}

footer {
    text-align: center;
    margin-top:0.5em;
}

/* LAYOUT END */

/* heading fuckery */


h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
p:first-child {
    margin-top: 0
}

h1:last-child {
    margin-bottom:0
}

p:last-child {
    margin-bottom: 0
}
/* headings end*/

/*todo*/

#todo ul {
    list-style-type: none;
    padding: 0;
    margin: 0
}

#todo ul li:before {
    content: "□";
    font-size: 1.5em;
    margin-right: 0.5em
}

#todo ul li.checked span {
    text-decoration: line-through;
    opacity: 0.75
}

#todo ul li.checked:before {
    content: "☑";
    font-size: 1.25em;
    margin-left: -1px;
}

/*tables*/

table {
    background-color: var(--lighter)
}

td {
    padding: 0.5em;
    box-sizing: default;
    background-color: var(--faded);
}

td.tbheading {
    background-color: var(--lighter);
    font-weight: bold
}

/* buttons */
a.btn {
    background: var(--lighter);
    display: block;
    padding: 0.5em;
    display: flex !important;
    align-items: center;
    justify-content: center;
}

a.btn:hover {
    background-color: var(--blurple)
}

a.btn span {
    background: var(--gradient-h);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition-duration: 0.5s;
}

a.btn:hover span {
    -webkit-text-fill-color: white;
}

pre {
    background-color: var(--lighter);
    padding:0.75em;
    overflow:auto
}

code {
    font-family: 'Jetbrains Mono', monospace;
}


/* MOBILE */

@media only screen and (max-width: 992px) {
}

@media only screen and (max-width: 768px) {

    body {
        padding: 0.25em
    }

    #wrapper {
        margin: 0;
        width: 100%
    }

    #content {
        flex-wrap: wrap;
    }

    main {
        border-image: var(--gradient-h) 1;
        border-width: 2px 0px;
        border-style: solid;
        padding: 0.5em 0;
        margin: 0.5em 0
    }

    aside,
    main {
        width: 100% !important;
        display: block
    }

    aside {
        position: relative
    }

    header div {
        font-size: 1.25em
    }

    .navLinks {
        text-align: center
    }

    .navLinks li {
        display: inline
    }

    .navLinks li:not(li:first-child) {
        margin-left: 0.75em
    }

    .navLinks li:first-child::before {
        display: none
    }

}

@media only screen and (max-width:480px) {

}