@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&family=Roboto+Mono:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');


/*
@font-face {
    font-family: 'minecraft';
    src: url(./fonts/minecraft-font/MinecraftRegular-Bmg3.otf)
}
*/

:root {
    --width: 1250px;
    --padding: 0.25em;

    --pink: #f9cac7;
    --blue: #92a8d1;
    --bg: #1c1624;
    --faded: #38323f;
    --lighter: #433d4b;
    --text: #e0e0e0;
    --text2: #b6b5b8;

    --pinkple: #e6cbd6;
    --blurple: #aaa5ca;
    --gradient: linear-gradient(90deg, rgba(247, 202, 201, 1) 0%, rgba(146, 168, 209, 1) 100%);
    --gradient-vertical: linear-gradient(180deg, rgba(247, 202, 201, 1) 0%, rgba(146, 168, 209, 1) 100%);
    --gradient2: linear-gradient(to right, #f9cac7, #92a8d1) 1;
}

* {
    cursor: url(https://www.cursor.cc/cursor/128/69/cursor.png), auto !important;
    box-sizing: border-box;
}

/* formatting */

body {
    background-image: url(/assets/bg.png);
    color: var(--text);
    background-color: var(--bg);
    line-height: 1.6em;
    padding: 0.5em;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    background-attachment: fixed
}

/*

body::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    background-size: 100%, 3px;
    z-index: 100;
    background-size: 100% 2px, 3px 100%;
    pointer-events: none;

    animation: scan 1s linear infinite
}

@keyframes scan {
    0% {
        background-position: 0px 0px;
    }

    100% {
        background-position: 0px 9px;
    }
}
*/



#wrapper {
    max-width: var(--width);
    margin: 5em auto;
    height: auto;
}

header {
    max-width: 100%
}

header div {
    background-color: var(--faded);
    border-width: 5px;
    border-style: solid;
    border-image: var(--gradient2);
    text-align: center;
    font-family: "Press Start 2P";
    font-size: 2.5em;
    padding: 1em
}

#content {
    display: flex
}

aside {
    width: 22.5%;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    position: sticky;
    top: 0.25em
}

main {
    flex-grow: 1
}

header, section {
    padding: var(--padding)
}

.container {
    padding: 0.5em
}

.bg-faded {
    background-color: var(--faded)
}

.bg-lighter {
    background-color: var(--lighter)
}

.text-muted {
    color: var(--text2)
}

.text-center {
    text-align: center
}

.scroll {
    overflow: auto
}

footer {
    font-size: 0.75em;
    text-align: center
}

/* specific */

.d-flex {
    display: flex
}

::-moz-selection {
    background: var(--blurple);
    color: #fff;
}

::selection {
    background: var(--blurple);
    color: #fff;
}

a::-moz-selection {
    -webkit-text-fill-color: white;
}

a::selection {
    -webkit-text-fill-color: white;
}


/*scrollbar*/

/* width */
::-webkit-scrollbar {
    width: 0.75em;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--faded);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--gradient-vertical);
}

ul.links {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

ul.links li:before {
    content: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/d3a5a08b-4878-48af-b76b-8aff5871fc75/d9sbp25-e122a731-f9fd-4caa-a317-d89ec66ec371.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2QzYTVhMDhiLTQ4NzgtNDhhZi1iNzZiLThhZmY1ODcxZmM3NVwvZDlzYnAyNS1lMTIyYTczMS1mOWZkLTRjYWEtYTMxNy1kODllYzY2ZWMzNzEuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.SoJqONt9njsW41k16r3vXXsA5S6Usx43sZf-SCfQcp4);
    margin-right: 0.5em;
    position: relative;
    top: 3px;
}

.copytext {
    font-size: 12px;
    overflow-y: auto;
    resize: vertical;
    font-family: inherit;
    line-height: inherit
}

#cbox {
    font-family: 'Poppins', sans-serif !important
}

.new:before {
    content: url(https://media.discordapp.net/attachments/925650174649466901/964004716860305448/new.gif);
    padding-left: 0.5em
}


/*yw*/

/*

.yw-widget-text {
    text-transform: lowercase;
}

.yw-link-rand {
    color: #f7cac9 !important
}

.yw-link-rand:hover {
    color: #92a8d1 !important
}

.yw-link-prev {
    color: #dec2cb !important
}

.yw-link-prev:hover {
    color: #acb1cf !important
}

.yw-link-home,
.yw-link-home:hover {
    color: #c5b9cd !important
}

.yw-link-next {
    color: #acb1cf !important
}

.yw-link-next:hover {
    color: #dec2cb !important
}

.yw-link-home:last-child {
    color: #92a8d1 !important
}

.yw-link-home:last-child:hover {
    color: #f7cac9 !important
}

.yw-content {
    margin: 0;
    font-family: 'Roboto Mono';
}
*/


/*todo*/

#todo ul {
    list-style-type: none;
    padding: 0;
    margin: 0
}

#todo ul li:before {
    content: "□";
    font-size: 1.5em;
    margin-right: 0.5em
}

#todo ul li.checked span {
    text-decoration: line-through;
    opacity: 0.75
}

#todo ul li.checked:before {
    content: "☑";
    font-size: 1.25em;
    margin-left: -1px;
}

/*new and up*/

img.new {
    content: url(./new.gif)
}

img.up {
    content: url(./up.gif)
}

img.new, img.up {
    height: 0.75em;
    margin-left: 0.5em;
    position: relative;
    top: 1px;
}

/* general */

.h-100 {
    height: 100%
}

.mx-auto {
    margin-left: auto;
    margin-right: auto
}

h1, h2, h3, h4, h5, h6, footer, .text-mono {
    font-family: 'Jetbrains Mono', monospace;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0.5em;
    margin-bottom: 0.5em
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.375em;
}

h1.big {
    font-size: 1.75em;
}

/*
p:first-of-type {
     margin: 0
}
*/

a {

    transition-duration: 0.5s;
    text-decoration: none;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;

    font-weight: 500;


    display: inline-block;
    vertical-align: bottom;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;

}

a:not(a.btn) {
    background: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


a::before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: var(--gradient);
    height: 1px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}


a:hover {
    color: var(--blurple);
    transition-duration: 0.5s;
    /*
    letter-spacing: 0.1em;
    */
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}


a:hover:before, a:focus:before, a:active:before {
    right: 0;
}




/*tooltip*/
/* Tooltip container */
.tooltipster {
    position: relative;
    display: inline-block;
    overflow: visible
}

/* Tooltip text */
.tooltipster .tooltip {
    visibility: hidden;
    max-width: 150px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltipster .tooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltipster:hover .tooltip {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s;
}


/*mobile*/

@media only screen and (max-width: 768px) {

    #wrapper {
        margin: 0;
        width: 100%
    }

    #content {
        flex-wrap: wrap;
    }

    main {
        border-image: var(--gradient2);
        border-width: 2px 0px;
        border-style: solid;
        padding: 0.5em 0;
        margin: 0.5em 0
    }

    aside, main {
        width: 100%;
        display: block
    }

    aside {
        position: relative
    }

    header div {
        font-size: 1.25em
    }
}