---
layout: layouts/blog.njk
---
{% set previousPost = collections.posts | getNextCollectionItem %}
{% set nextPost = collections.posts | getPreviousCollectionItem %}

<h1>{{title}}</h1>
<p><strong>{{date | formatDate }}</strong></p>
<p>{{desc}}</p>
<hr>
{{content | safe}}

 <br><button class="tinylytics_kudos"></button>
<div class="blog-footer">
    {% if previousPost %}<span><a href="{{ previousPost.url }}"><- previous post</a></span>{% endif %}
    <span><a href="/blog/">blog index</a></span>
    {% if nextPost %}<a href="{{ nextPost.url }}">next post -></a>{% endif %}
</div>
