<section>
    <div class="container bg-faded">
        <h1 class="text-center">navigation</h1>
        <ul class="navLinks">
            <li><a href="/home/">home</a></li>
            <li><a href="/about/">about</a></li>
            <li><a href="/now/">now</a></li>
            <li><a href="/blog/">weblog</a></li>
            <li><a href="/art/">art </a></li>
            <li><a href="/music/">music</a></li>
            <li><a href="/writing/">writing</a></li>
            <li><a href="/reading/index.html">reading</a></li>
            <li><a href="/watching/index.html">watching</a></li>
            <li><a href="/fan/">fanlistings</a></li>
            <li><a href="/links/">links</a></li>
            <li><a href="/guestbook/">guestbook</a></li>
            <li><a href="/colophon/">colophon</a></li>
            <li><a href="https://neocities.org/site/moondvsted">neocities profile</a></li>
        </ul>
    </div>
</section>
<section>

</section>


<section>
    <marquee onmouseover="this.stop()" onmouseout="this.start()">
        <a href="http://www.mabsland.com/Adoption.html" target="_blank"><img src="https://files.catbox.moe/tfa8lv.gif"
                height="31px" width="88px" alt="web rating: 14"></a>
        <a href="https://neocities.org/" target="_blank"><img src="https://files.catbox.moe/a9muor.png" alt="neocities: the web is yours"></a>
        <a href="https://plasticdino.neocities.org/graphics" target="_blank"><img
                src="https://files.catbox.moe/l3vyns.png"></a>
        <img src="https://files.catbox.moe/te7k8h.png" alt="you're telling me a queer coded this">
        <a href="https://yesterweb.org/no-to-web3/" target="_blank"><img src="https://files.catbox.moe/yaxhqm.gif" alt="keep the web free, say no to web3"></a>
        <a href="http://lu.tiny-universes.net" target="_blank"><img src="https://files.catbox.moe/rb10mh.png" alt="w3c: shit html"></a>
        <iframe src="//incr.easrng.net/badge?key=stel" style="background: url(//incr.easrng.net/bg.gif)" title="increment badge" width="88" height="31" frameborder="0"></iframe>

    </marquee>
    <marquee onmouseover="this.stop()" onmouseout="this.start()" direction="right">
        <a href="/fan/oneshot/"><img src="/fan/oneshot/codes/88x31-1.png" alt="oneshot fanlisting" title="OneShot"></a>
        <small class="text-mono"> <- mine | others' -> </small>
        {% include 'partials/fanlistings.html' %}
        <small class="text-mono"> <- fanlistings</small>
    </marquee>
</section>

