{% renderTemplate "md" %}
jun 17, 2024:
heyo! on vacation now, typing this in the github app on my ipad. 
i finished strangers on a train for bookbug! see my review [here](/reading/bookbug/#2024-06)
***
jun 07, 2024:
* not much, but i added an old song to the [music page](/music/). look for **"it's raining somewhere else (lo-fi remix)"**
* in other news, school's out for the summer. i'll be traveling, but hopefully i'll be able to do more for the site as well
* testing out this new update format – not sure if i'll keep it, but it seems useful for updates with more content.
***
may 31, 2024: new [beepbox page](/music/beepbox/). also polished the [guestbook](/guestbook/) up a tiny bit and added some cliques to the right bar!
***
may 30, 2024: added a new [poem](/writing/eternity.pdf) to the [writing](/writing/) page
***
may 29, 2024: overhauled the site with 11ty! took a while, but it should work fine. here's a [blog post](/blog/posts/migrating-to-11ty/) about it
{% endrenderTemplate %}