:root {
    --yellow: #eab20d;
    --purple: #aa23b9;
    --purple-rgb:170, 35, 185
}

@font-face {
    font-family: 'Terminus';
    src: url(/assets/fonts/terminus.woff);
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;

}

body {
    font-family: 'Terminus', monospace;
    font-size: 18px;
    color: white;
    background-color: rgb(21, 5, 34);
    background-image: linear-gradient(180deg, black 0%, rgba(21, 5, 34, 1) 100%);
    background-size: cover;
    background-position: center;

    min-height: 100vh;

    margin: 0;
    padding: 0
}

#wrapper {
    max-width: 900px;
    margin: 0 auto
}

header {
    background-image: url(cg_refuge.png);
    height: 300px;
    background-size: cover;
    background-position: center right;
    display: flex;
    align-items:end;
    justify-content: center;
    padding:0.5em
}
header::before {
    content: 'YELLOW PHOSPHOR';
    font-size: 2.5em;
    text-shadow:var(--purple) 0 0 10px
}

header div::after {
    content: 'the tfl-approved oneshot fanlisting'
}

nav {
    padding: 0.75em;
    margin-bottom: 1em;
    font-size: 1.5em;
    text-transform: uppercase;
    text-align: center;
}



nav a:not(a:last-child) {
    margin-right: 1.5em
}

main {
    background-color: #150522;
    padding: 0.75em;
    border: 4px solid var(--yellow);
    border-radius: 1em;
    margin-bottom: 1em
}

a {
    /*
    color: var(--purple);
    */
    color: #b22ec0;
    text-shadow: rgba(var(--purple-rgb), 0.5) 0 0 10px;
    transition-duration: 0.3s;
}

a:hover {
    color: #d874e3;
    text-shadow: var(--purple) 0 0 10px
}

em,
h2,
h3,
h4 {
    color: #ffefc1;
    text-shadow: var(--yellow) 0 0 10px
}

h2:first-child,
p:first-child {
    margin-top: 0
}

p:last-child {
    margin-bottom: 0
}

ul {
    padding-left: 1em
}

/* form shit */

input[type="submit"] {
    font-family: 'terminus', monospace;
    background-color: var(--purple);
    color: white;
    border: 0;
    font-size: 1em;
    cursor: pointer
}

#member-list div:not(div:last-child) {
    margin-bottom: 2em
}

@media only screen and (max-width:768px) {
    .col {
        width: 100% !important;
        display:block
    }

    #splash-img {
        margin-left:auto;
        margin-top:-75px
    }
}

@media only screen and (max-width:480px) {
    nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    nav a {
        margin-right:0.5em!important
    }

    #splash-img {
        display:none
    }
}