<script src="/assets/script/lastfm.js"></script>
<main>
    <section>
        <div class="container bg-faded">
            <h2>welcome in!</h2>
            <p>hello hello, welcome to stel's little corner of the world wide web. make yourself at home,
                and enjoy your stay!</p>
        </div>
    </section>

    <section>
        <style>
            #statuscafe {
                padding: .5em;
                background-color: var(--lighter);
            }

            #statuscafe-username {
                margin-bottom: .5em;
            }

            #statuscafe-content {
                margin: 0 1em 0.5em 1em;
            }
        </style>
        <div class="container bg-faded h-100">
            <div id="statuscafe" class="h-100">
                <div id="statuscafe-username"></div>
                <div id="statuscafe-content"></div>
            </div>
            <script src="https://status.cafe/current-status.js?name=stel" defer></script>
        </div>
    </section>

    <section>
        <div class="container bg-faded h-100">

            <h2 class="text-center">recent posts</h2>
            <ul class="blog-list">
                {% for post in collections.posts %}<li class="blog-post"><a href="{{post.url}}"><span class="text-mono">{{post.data.date |
                        formatDateShort
                        }} - </span>{{post.data.title}}</a>
                </li>{% endfor %}
                <li><a href="/blog/"><span class="text-mono">-> </span> more posts</a></li>
            </ul>
            <style>
                .blog-list {
                    list-style-type: none;
                    padding: 0
                }
            </style>
        </div>
    </section>

    <section>
        <div class="container bg-faded">
            <h2 class="text-right">updates</h2>
            <div class="container bg-lighter scroll" style="height:150px">
                <div id="updates">{% include 'partials/updates.html' %}</div>
            </div>
        </div>
    </section>
</main>
<aside style="width:20%">
    <section>

        <div class="container bg-faded h-100">
            <style>
                a#artworklink::before {
                    display: none !important;
                }

                a#artworklink {
                    flex-wrap: nowrap !important;
                    font-family: 'Jetbrains Mono', monospace
                }

                #artist {
                    -webkit-text-fill-color: var(--text);
                    font-weight: normal
                }

                #track {
                    white-space: nowrap;
                    text-overflow: ellipsis;

                }

                /*
                    #artwork {
                        animation: spin 3s linear infinite;
                        transition: animation 0.3s ease;
                    }

                    #artwork:hover {
                        animation-play-state: paused;
                    }

                    @keyframes spin {
                        from {
                            transform: rotate(0deg);
                        }

                        to {
                            transform: rotate(360deg);
                        }
                    }
                    */

                .blinker {
                    margin-right: 0.75em;
                    background-color: #5bd38d;
                    height: 10px;
                    width: 10px;
                    border-radius: 50%;
                    display: inline-block;
                    animation: blink 2s ease-in-out infinite
                }

                @keyframes blink {

                    0%,
                    100% {
                        opacity: 75%
                    }

                    50% {
                        opacity: 25%
                    }
                }
            </style>
            <script src="/lastfm.js"></script>
            <div id="lastfm">
                <section id="listen" user="lunedvst">CANT FETCH last listened to</section>
                <a href="" id="artworklink" target="_blank" class="d-flex">
                    <img id="artwork" src="" onError="this.onerror=null;this.src='CANT-FETCH-ARTWORK-IMG-HERE';"
                        style="margin-right:0.5em">
                    <div id="track"></div>
                </a>
            </div>
        </div>

    </section>
    <section>
        <div class="container bg-faded">
            <h1>rings & things</h1>
            <div id="rings">
                <style>
                    #rings div:not(div:last-child) {
                        margin-bottom: 0.5em
                    }
                </style>
                <center class="text-mono">
                    {% include 'partials/rings.html' %}
                </center>
            </div>
        </div>
        <div class="container bg-faded">
            <center>
                <small>
                    <p>
                        {% include 'partials/cliques-site.html' %}
                    </p>
                    <p>
                        <a href="http://cliqued.wings.nu/" target="_blank">rock me</a> <img src="/img/rock-me.png"
                            style="height:1em; vertical-align: middle;"> penelope scott<br>
                        <a href="https://frankie.fanacular.net/otp/" target="_blank">OTP</a> // georgekip (oneshot)
                    </p>
                </small>
            </center>
        </div>
    </section>
    <section class="hide-md">
        <details>
            <summary class="container bg-faded">
                <h1 class="d-inline-block">adspace</h1>
            </summary>
            <iframe style="border:none; width:100%; aspect-ratio: 1/1!important;"
                src="https://dimden.neocities.org/navlink/" name="neolink"></iframe>
        </details>
    </section>
</aside>