<!DOCTYPE html>
<html>

<head>
    {% include 'partials/head.html'%}
    <link rel="stylesheet" href="/assets/style/style.css">
    <title>fly me to the moon!</title>
    <link rel="icon" href="/assets/favicon.ico" type="image/png">
</head>

<body>
    <div id="wrapper">
        <header>
            <img src="/assets/header.png" alt="starlet sitting with their legs bent, doing a peace sign">
            <div></div>
        </header>
        <div id="content">
            <aside>
                {% include 'partials/left.html' %}
            </aside>
            {{content | safe}}
        </div>
        {% include 'partials/foot.html' %}
    </div>
</body>
</html>