<a href="https://scented.minty.nu/" target="blank">scented</a> // cotton candy<br><a href="http://cliqued.wings.nu/"
    target="_blank"
    style="background: linear-gradient(90deg, rgba(237,135,135,1) 0%, rgba(231,204,122,1) 25%, rgba(152,215,138,1) 50%, rgba(122,183,211,1) 75%, rgba(191,160,246,1) 100%); background-clip:text; -webkit-background-clip: text;">
    rainbow
</a> &#x1F308; <span style="color:#f7cac9">rose quartz</span> & <span style="color:#92a8d1">serenity</span>
<br>
<a href="https://xandra.cc/patrons" target="_blank">matron</a> 🌙 selene
<br><br>
<a href="https://pantson.xandra.cc/" target="_blank">
    <img src="/media/pantson-rosequartz.png" alt="rose quartz" style="width:48px">
    <img src="/media/pantson-serenity.png" alt="serenity" style="width:48px">
</a>