<a href="https://fan.glast-heim.net/undertale/index.php" target="_blank"><img src="/media/buttons/fan-undertale.gif"
        alt="UNDERTALE fanlisting" title="UNDERTALE"></a>
<a href="https://fan.glast-heim.net/undertaleost/index.php" target="_blank"><img src="/media/buttons/fan-ut-soundtrack.png" height="31px" alt="undertale OST fanlisting" title="UNDERTALE OST"></a>
<a href="https://magneticdogz.neocities.org/fanlisting/helltaker/" target="_blank"><img
        src="https://files.catbox.moe/4vr8mv.png" alt="Helltaker fanlisting" title="Helltaker"></a>
<a href="https://mizuki.world/nso/" target="_blank"><img src="https://files.catbox.moe/h5sf4m.png"
        alt="NSO fanlisting" title="Needy Streamer Overload"></a>