<div>
    <a href="https://hotlinewebring.club/stel/previous"
        style="-webkit-text-fill-color:var(--pink)!important">
        &lt;- </a>
    <a href="https://hotlinewebring.club/">
        hotline webring
    </a>
    <a href="https://hotlinewebring.club/stel/next"
        style="-webkit-text-fill-color:var(--blue)!important">
        -&gt;
    </a>
</div>
<div class="otswebring">
    <a href="https://webring.obeythesystem.com/page?=previous" rel="nofollow">
        &lt;- </a>
    <a href="https://webring.obeythesystem.com/" rel="nofollow">OBEY THE SYSTEM</a>
    <a href="https://webring.obeythesystem.com/page?=next" rel="nofollow">-&gt;</a>
</div>
<div>
    <a href="https://stellophiliac.github.io/roboring/stel/previous"> &lt;- </a>
    <a href="https://stellophiliac.github.io/roboring">roboring</a>
    <a href="https://stellophiliac.github.io/roboring/stel/next"> -&gt; </a>
</div>