{% renderTemplate "md" %}
nov 16, 2024: finally did something with the [art page](/art/). this caused me way more of a headache than it should've. the 2023 page is somewhat populated, there's a bit more stuff in the 2024 page. i'm a bit too lazy to add more art
***
oct 31, 2024: i finished *a pale view of hills*! read my review [here](/reading/bookbug/#2024-10) (spoilers, of course)
***
oct 3, 2024: new [blog post](/blog/posts/slow-down/)
***
sep 3, 2024:
* ITS SEPTEBER!! time to SPRING your Jorts back into JANTS!
* reworked the [about page](/about/)!
* ported the [guestbook](/guestbook/) to use [ayano's comment widget](https://virtualobserver.moe/ayano/comment-widget)
***
aug 31, 2024:
* wrote a new [poem](/writing/are_you_paying_attention.txt) today!
* wrote a blog post on [sudoku](/blog/posts/sudoku/) yesterday
***
aug 20, 2024:
* new [blog post](/blog/posts/digital-privacy/) on digital privacy
* got an atom (?) feed working for my blog, i think? check [here](/feed/blog.xml)
***
jul 28, 2024: i reposted a guide i wrote on tumblr to my blog: [how to build a digital music collection and stuff](/blog/posts/build-a-music-collection)
***
jul 8, 2024: finally wrote something new for [muse ariadne!](/writing/muse/2024-07-01.txt) CW for animal death
***
jun 30, 2024:
* added a blogroll to my links page
* also getting prepped for the next month of [bookbug](/reading/bookbug/)!
* i should really write something for muse ariadne sometime, but nothing really comes to mind...
***
jun 29, 2024: new [blog post](/blog/posts/existential-bill-wurtz-lyrics), if you can call it that. just a compilation of bill wurtz lyrics
***
jun 22, 2024: new [blog post](/blog/posts/nonexistence-and-all-that-jazz).
***
jun 17, 2024:
heyo! on vacation now, typing this in the github app on my ipad.
i finished *strangers on a train* for bookbug! see my review [here](/reading/bookbug/#2024-06)
***
jun 07, 2024:
* not much, but i added an old song to the [music page](/music/). look for **"it's raining somewhere else (lo-fi remix)"**
* in other news, school's out for the summer. i'll be traveling, but hopefully i'll be able to do more for the site as well
* testing out this new update format – not sure if i'll keep it, but it seems useful for updates with more content.
***
may 31, 2024: new [beepbox page](/music/beepbox/). also polished the [guestbook](/guestbook/) up a tiny bit and added some cliques to the right bar!
***
may 30, 2024: added a new [poem](/writing/eternity.pdf) to the [writing](/writing/) page
***
may 29, 2024: overhauled the site with 11ty! took a while, but it should work fine. here's a [blog post](/blog/posts/migrating-to-11ty/) about it
{% endrenderTemplate %}